$color-white: #ffffff;
$color-grey: #3b3737;
$color-black: #000000;
$color-orange: #f1ac48;
$color-orange-light: #f1ad4855;
$color-red: #9200005b;
$color-green: #0092385b;

$font-primary-text: 16px "Roboto", sans-serif;

$font-family-headings: "Saira Condensed", sans-serif;
